{% extends "base.html" %}

{% block content %}

    <!-- Navbar Start -->
    {% include "StaticSite/indexComponents/navbar.html" %}
    <!-- Navbar End -->

    <!-- Carousel Start -->
    {% include "StaticSite/indexComponents/carousel.html" %}
    <!-- Carousel End -->

    <!-- About Start -->
    {% include "StaticSite/indexComponents/indexabout.html" %}
    <!-- About End -->

    <!-- Fact Start -->
    <!-- Fact End -->


    <!-- Service Start -->
    {% include "StaticSite/indexComponents/services.html" %}
    <!-- Service End -->


    <!-- Feature Start -->
    {% include "StaticSite/indexComponents/features.html" %}
    <!-- Feature End -->

    <!-- Team Start -->
    <!-- Team End -->

    
{% endblock content %}